<ul class="navbar-nav ml-auto font-weight-bold d-flex align-items-center">
  {% for item in site.data.menus.topmenu %}
    
    {% if item.children %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-3"
           href="#"
           id="dropdown-{{ forloop.index }}"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          {{ item.title }}
        </a>

        <ul class="dropdown-menu">
          {% for child in item.children %}
            <li>
              <a class="dropdown-item"
                 href="{{ site.baseurl }}/{{ child.url }}">
                {{ child.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>

    {% else %}
      <li class="nav-item">
        <a class="nav-link px-3 {% if item.class %}{{ item.class }}{% endif %}"
           href="{% unless item.external %}{{ site.baseurl }}/{% endunless %}{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
    {% endif %}

  {% endfor %}
</ul>